body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
}

/* #region about */
.about {
  display: flex;
  background-color: #E25544;
  color: white;
  padding: 32px 40px 24px;
}

.about__name {
  margin: 0 0 8px;
  font-size: 30px;
  line-height: 37px;
  font-weight: 600;
}

.about__role {
  margin: 0 0 8px;
  font-size: 12px;
  line-height: 15px;
}

.about__text {
  margin: 0;
}

.about_photo {
  width: 114px;
  height: 114px;
  border-radius: 50%;
  margin-left: 50px;
}
/* #endregion */

.main {
  padding: 0px 40px;
}

.contacts {
  display: flex;
  padding: 24px;
  justify-content: space-between;
}

.contacts__link {
  text-decoration: none;
  color: #485268;
}