body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #485268;
  background-color: #E5E5E5;;
}

.info a:link {
  color: #485268;
}

.info a:visited {
  color: #485268;
}

strong {
  font-weight: 500;
}

.page {
  width: 595px;
  margin: 0 auto;
}

/* #region about */
.about {
  display: flex;
  background-color: #E25544;
  color: white;
  padding: 32px 40px 24px;
}

.about__name {
  margin: 0 0 8px;
  font-size: 30px;
  line-height: 37px;
  font-weight: 600;
}

.about__role {
  margin: 0 0 8px;
  font-size: 12px;
  line-height: 15px;
}

.about__text {
  margin: 0;
}

.about_photo {
  width: 114px;
  height: 114px;
  border-radius: 50%;
  margin-left: 50px;
}
/* #endregion */

.main {
  padding: 0px 40px 8px;
  background-color: white;
}
/* #region contacts */

.contacts {
  display: flex;
  padding: 24px 0px;
  justify-content: space-between;
}

.contacts__link {
  text-decoration: none;
  color: #485268;
}

.contacts__link:hover {
  background-color: rgb(191, 183, 183);
}
/* #endregion */

/* #region info */
.info {
  border-top: 1px solid #DEE2ED;
  padding: 24px 0px;
  display: flex;
  justify-content: space-between;
}

.info__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #E25544;
}

.info__content {
  width: 360px;
}
/* #endregion */

/* #region job */
.job {
  margin: 0px;
  margin-top: 24px;
  border-left: 1px dashed #DEE2ED;
  padding-left: 8px;
}

.job:first-child {
  margin-top: 0px;
}

.job__title {
  margin: 0px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.job__description {
  margin: 0;
  margin-top: 8px;
}
/* #endregion */

/* #region study */
.study {
  margin: 0px;
  margin-top: 24px;
  border-left: 1px dashed #DEE2ED;
  padding-left: 8px;
}

.study:first-child {
  margin-top: 0px;
}

.study__title {
  margin: 0px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.study__description {
  margin: 0;
  margin-top: 8px;
}
/* #endregion */

/* #region skills */
.skills {
  display: flex;
}

.skills__list {
  box-sizing: border-box;
  border-left: 1px dashed #DEE2ED;
  width: 50%;
  padding-left: 8px;
  list-style-type: none;
  margin: 0px;
}

.skills__items {
  margin: 0px;
  margin-top: 8px;
}

.skills__items:first-child {
  margin-top: 0px;
}
/* #endregion */

/* #region tools */
.tools {
  display: flex;
}

.tools__list {
  box-sizing: border-box;
  border-left: 1px dashed #DEE2ED;
  width: 50%;
  padding-left: 8px;
  list-style-type: none;
  margin: 0px;
}

.tools__items {
  margin: 0px;
  margin-top: 8px;
}

.tools__items:first-child {
  margin-top: 0px;
}
/* #endregion */
